@model PortfolioCore.Entities.Experience
@{
    ViewData["Title"] = "CreateExperience";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Deneyim Ekleme Sayfası</h2>
<form method="post">
    <label>Başlık</label>
    <input style="border:1px solid black" type="text" class="form-control" asp-for="Title" />
    <br />
    <label>Alt Başlık</label>
    <input style="border:1px solid black" type="text" class="form-control" asp-for="SubTitle" />
    <br />
    <label>Tarih</label>
    <input style="border:1px solid black" type="text" class="form-control" asp-for="ExperienceDate" />
    <br />
    <label>Açıklama</label>
    <input style="border:1px solid black" type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn btn-primary">Deneyimi Oluştur</button>

</form>
